@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Raleway:wght@400;700&display=swap');

nav {
    /* background-color: #F9AB40; */
    font-family: 'Raleway', sans-serif;
}

.navbar-brand img {
    width: 30%;
}

nav a,
.nav-link {
    color: black;
    font-weight: bold;
}

.dropdown-menu {
    border: unset;
    border-radius: 0;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #FFCE66;
}

section {
    margin-bottom: 5%;
    position: relative;
}

footer {
    background-color: #FFCE66;
    padding: 5vh;
    margin-top: 10vh;
    font-family: 'Raleway', sans-serif;
}

footer img {
    width: 70%;
}

footer ul li {
    list-style: none;
    text-decoration: none;
}

footer h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.copy {
    background-color: #FFEC8D;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    padding: 2vh;
}

footer a,
.copy a {
    color: #F9AB40;
}

.copy p {
    margin: 0;
    text-decoration: none;
    color: black;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 991.98px) {
    .navbar-brand {
        width: 40%;
    }

    .navbar-brand img {
        width: 100%;
    }

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        display: flex;
        justify-content: space-between;
        /* display: inline;  */
    }
}